body {
  background-color: #e26a5c;
}

.header.item {
  font-size: 20px;
}

i.icon {
  /* font-size: 2em; */
}

.container.main {
  margin-top: 4.0em;
}

.container .segment {
  background-color: #fcf5ef;
}
