body {
  background-color: #41b3a3;
}

.header.item {
  font-size: 20px;
}

i.icon {
  /* font-size: 2em; */
}

.container.main {
  margin-top: 4.0em;
}

.container .segment {
  background-color: #f7f4e9;
}

.comments .content {
  padding: 10px;
}

.ui.comments .comment .actions {
  font-size: 1em;
}

.ui.accordion {
  display: inline;
}

.ui.accordion .title {
  display: inline;
}

.delete {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgba(0,0,0,.4);
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica ,sans-serif;
}

.delete:hover {
  color: rgba(0, 0, 0, 1);
}

.delete-form {
  display: inline;
}
